body {
    font-family: Roboto, Arial;
    /* The <body> element has a default margin of 8px
       on all sides. This removes the default margins. */
    margin: 0;
}

input {
    font-family: Roboto, Arial;
  }